html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Sistema
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	body
		block content
			.main.container
				.row
					.col-md-6.col-md-offset-3
						h1.display-4.m-b-2 Crear Usuario
						form(method='POST' action='/create')
							div.form-group
								label(for='nombres') Nombres:
								input#nombre.form-control(type='text' name='nombres')
							div.form-group
								label(for='apellidos') Apellidos:
								input#descripcion.form-control(type='text' name='apellidos')
							div.form-group
								label(for='telefono') Telefono:
								input#precio.form-control(type='text' name='telefono')
							div.form-group
								label(for='celular') Celular:
								input#precio.form-control(type='text' name='celular')
							div.form-group
								label(for='ciudad') Ciudad:
								input#precio.form-control(type='text' name='ciudad')
							div.form-group
								label(for='contrasenia') Contraseña:
								input#precio.form-control(type='text' name='contrasenia')
							div.form-group
								label(for='direccion') Direccion:
								input#precio.form-control(type='text' name='direccion')
							div.form-group
								label(for='email') Email:
								input#precio.form-control(type='text' name='email')
							h2.display-4.m-b-2 Datos de la Tarjeta (opcional)
							
							div.form-group
								label(for='nro') Numero de Tarjeta:
								input#precio.form-control(type='text' name='nro')
							div.form-group
								label(for='fec_exp') Fecha de Expiracion: 
								input#precio.form-control(type='text' name='fec_exp')
							div.form-group
								label(for='cod_seg') Codigo de Seguridad:
								input#precio.form-control(type='text' name='cod_seg')
							div.form-group
								label(for='clave') Clave:
								input#precio.form-control(type='text' name='clave')
							button.btn.btn-primary(type='submit') Grabar
							button.btn.btn-basic
								a(href="/") Regresar